%% -*- erlang -*-
{erl_opts,[debug_info, fail_on_warning]}.
{deps_dir, ["deps"]}.
{deps, [{syslog, ".*", {git, "git://github.com/Vagabond/erlang-syslog.git", "master"}},
        {parse_trans, ".*", {git, "git://github.com/esl/parse_trans.git", "master"}},
        {edown, ".*", {git, "git://github.com/si14/edown.git", "master"}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme, {"./README.md", "https://github.com/spawnfest/alogger"}}]}.
{sub_dirs, []}.
