%% -*- erlang -*-
{erl_opts,[debug_info]}.
{deps_dir, ["deps"]}.
{deps, [{syslog, ".*", {git, "git://github.com/Vagabond/erlang-syslog.git", {branch, "master"}}},
        {parse_trans, ".*", {git, "git://github.com/esl/parse_trans.git", {tag, "2.7"}}},
        {edown, ".*", {git, "https://github.com/esl/edown.git", {tag, "0.3.1"}}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme, {"./README.md", "https://github.com/siberian-fast-food/alogger"}}]}.
{sub_dirs, []}.
