[
 {alog, [
         {enabled_loggers, [alog_tty, alog_scribe, alog_syslog]},

         {flows, [
                  {{mod, ['_']},{'=<', debug}, [alog_tty, alog_syslog]},
                  {{mod, [alog_examples]}, {'=<', debug},[alog_tty,
							  alog_scribe,
							  alog_syslog]}
                 ]},

         {alog_tty, [
                     {foo, bar},
                     {baz, kapets}
                    ]},
         {alog_scribe, []},
	 {alog_syslog, [{ident, "alogger"},
		        {logopt, [cons, perror, pid]},
			{facility, user}]}
        ]}
].
