[
 {alog, [
         {enabled_loggers, [alog_tty]},

         {flows, [
	 	  {{mod, ['_']},{'=<',7}, [alog_tty, alog_syslog]},
                  {{mod,[alogexamples]}, {'=<', 7},[alog_tty]}
                 ]},

         {alog_tty, [
                     {foo, bar},
                     {baz, kapets}
                    ]}
        ]}
].
