[
 {alog, [
         {enabled_loggers, [alog_tty]},
         {install_error_logger_handler, true},

         {flows, [
                  {{mod, ['_']},{'=<', debug}, [alog_tty]},
                  {{mod, [alog_examples]}, {'=<', debug},[alog_tty]}
                 ]},

         {alog_tty, []},
         {alog_scribe, [{addr, "localhost"},
			{port, 1463},
			{strict_read, false},
			{strict_write, false},
			{framed, true}]},
	 {alog_syslog, [{ident, "alogger"},
		        {logopt, [cons, perror, pid]},
			{facility, user}]}
        ]}
].
